<div>
    Markett is a company founded by savvy marketers who felt the current affiliate platforms were aging faster than the age of dinosaurs and are on a mission to fix one of the most painful points of affiliate marketing. 
</div>