<div>
    Markett is a first mover platform that connects start-ups and well-known brands with offline and online marketers to generate new customers. The founders built out growth operations for the top start ups in the world and now they're making it available for the masses.
</div>