<div class="row text-center">
    <div class="col-md-12">
        <!-- <h3>Start promoting & earn $$$</h3> -->
        <p class="lead">Some of the hottest companies around!</p>
        
        <small>Thousands of promoters are making serious money, see below</small>
        <br><br>
        <a href="/affiliate/register" class="btn btn-default btn-lg">Sign up</a>
        
    </div>
    <!-- <div class="col-md-6">
        <h3>Promote your company</h3>
        <p class="lead">We bring you orders</p>
        <p>Anyone can now make money</p>
        <a href="/company/register" class="btn btn-info">Register</a>
    </div> -->
</div>