<% if session[:user][:role] == 'pending_company' %>
<div style="text-align: center;">
    Thank you for your interest.<br><br>
    Please contact erin@markett.com if you have any questions about our services.
</div>
<hr>
<% end %>

<% if session[:user][:role] == 'pending_marketer' %>
<div>
    Thank you for your interest. Currently our Beta Test is closed.<br><br>

    To request immediate access, please tell us a little about yourself. We will try to get back to you within 24 hours.
    <hr>

    

    <form action="/beta/pending" method="post">

    	<div class="row">
    	How did you hear about us?
    	<select id="beta_how_hear" name="beta_how_hear" class="form-control col-sm-2">
    		<option value="Social">Social Media</option>        
    		<option value="Email">Email</option>
        <option value="Craigslist">Craigslist</option>
        <option value="Campus">Campus Job Board</option>
    		<option value="Job">Job Board</option>        
    		<option value="Friend">Friend</option>
        <option value="Facebook">Facebook</option>
    		<option value="Marketer">Referred by another Marketer</option>
    		<option value="Promo Code">Promo Code</option>
    	</select>
    	<input type="text" id="beta_how_hear_custom" name="beta_how_hear_custom" class="col-sm-2" style="display: none;">
    	</div>
    	<br>

        
    	<div class="row">
    	Tell us about yourself
	    <textarea class="form-control" rows="5" id="beta_request" name="beta_request"></textarea>
	    <br>
	    <button type="submit" class="btn btn-primary">Submit</button>
		</div>
        
    </form>

</div>

<script>
	$(function(){

    // when how hear dropdown is changed
		$('#beta_how_hear').change(function(e){
			var val = $(this).val();

      // show custom input for custom types
			if(val == "Promo Code" || val == "Marketer" || val == "Friend"){
				$('#beta_how_hear_custom').show();
			}else{
				$('#beta_how_hear_custom').hide();
			}
		});

    // pre-select option if session exists
		<% if !session[:user][:beta_how_hear].nil? %>
		$('#beta_how_hear option[value="<%= session[:user][:beta_how_hear] %>"]').attr("selected", "selected");
			<% if (session[:user][:beta_how_hear] == "Promo Code" || session[:user][:beta_how_hear] == "Friend" || session[:user][:beta_how_hear] == "Marketer")  && !session[:user][:beta_how_hear_custom].nil? %>
				$('#beta_how_hear_custom').val("<%= session[:user][:beta_how_hear_custom] %>").show();
			<% end %>
		<% end %>

    // populate textarea if user put comments
		<% if !session[:user][:beta_request].nil? %>
		$('#beta_request').val("<%== session[:user][:beta_request] %>");
		<% end %>
		
	});
</script>

<% end %>