<div>
    Thank you for your interest. Currently our Beta Test is closed.<br><br>

    To request immediate access, please tell us a little about yourself. We will try to get back to you within 24 hours.
    <br><br>

    <form action="/beta/pending" method="post">
    <textarea class="form-control" rows="5" name="beta_request"></textarea>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>