<style>
.center_block {
    display: table;
    margin: 0 auto;
}
</style>
<div class="row text-center">
    
    <div class="col-md-12">
        <h3>Some of the companies we work with</h3>

        <div class="center_block" style="">
        <img src="http://markett.app/uploads/uber.jpeg" class="img-fluid pull-left" height="100" style="vertical-align: middle; margin-left: 10px;">
        <img src="http://markett.app/uploads/FF_logo_large.png" class="img-fluid pull-left" height="60" style="vertical-align: middle; margin-left: 10px;" valign="middle">
        <!-- <img src="http://markett.io/uploads/Drizly.png" class="img-fluid pull-left" height="100" style="vertical-align: middle; margin-left: 10px;">
        <img src="http://markett.io/uploads/airbnb.png" class="img-fluid pull-left" height="100" style="vertical-align: middle; margin-left: 10px;"> -->
        </div>

    </div>

     <div class="col-md-12">
        <h3></h3>
        <hr>
        <p class="lead">Markett is a platform the coolest startups</p>
        <a href="/company/register" class="btn btn-info">Get Started</a>
    </div>

    
</div>