<style>
.center_block {
    display: table;
    margin: 0 auto;
}
</style>
<div class="row text-center">
    
    <div class="col-md-12">
        <h3>Some of the companies we work with</h3>
        <br>
        <div class="center_block" style="">
            <img src="/uploads/uber_logo.png" class="img-fluid pull-left" height="180" style="vertical-align: middle; margin-left: 10px; margin-top:-40px;" valign="middle">
            <img src="/uploads/saucey_logo.png" class="img-fluid pull-left" height="100" style="vertical-align: middle; margin-left: 10px;">
        
        </div>

    </div>

     <div class="col-md-12">
        <h3></h3>
        <hr>
        <p class="lead">Markett is a marketing platform for the coolest startups</p>
        <a href="/company/register" class="btn btn-info">Get Started as a Marketer</a>
        <a href="/marketer/register" class="btn btn-primary">Get Started as a Company</a>
    </div>

    
</div>