<style>
.center_block {
    display: table;
    margin: 0 auto;
}
</style>
<div class="row text-center">
    
    <div class="col-md-12">
        <h3>Some of the companies we work with</h3>
        <br>
        <div class="center_block" style="">
        <img src="/uploads/saucey_logo.png" class="img-fluid pull-left" height="100" style="vertical-align: middle; margin-left: 10px;">
        <img src="/uploads/FF_logo_large.png" class="img-fluid pull-left" height="60" style="vertical-align: middle; margin-left: 10px; margin-top: 20px;" valign="middle">
        </div>

    </div>

     <div class="col-md-12">
        <h3></h3>
        <hr>
        <p class="lead">Markett is a marketing platform for the coolest startups</p>
        <a href="/company/register" class="btn btn-info">Get Started</a>
    </div>

    
</div>