<div class="row text-center">
    <div class="col-md-12">
        <h1 class="hero"><strong>Markett</strong> is a marketing platform for the best companies</h1>
        <!-- <h3>Start promoting & earn $$$</h3> -->
        <p class="lead">Want to get started?</p>
        <a href="/affiliate" class="btn btn-default">Start Now</a>
        <hr>
        <p>Make money promoting companies like Uber, Lyft, and Shipt</p>
    </div>
    <!-- <div class="col-md-6">
        <h3>Promote your company</h3>
        <p class="lead">We bring you orders</p>
        <p>Anyone can now make money</p>
        <a href="/company/register" class="btn btn-info">Register</a>
    </div> -->
</div>