<div class="row text-center">
    <div class="col-md-12">
        <h1 class="hero" style="margin-top: -20px;"><strong>Markett</strong> The Coolest Startups</h1>
        <!-- <h3>Start promoting & earn $$$</h3> -->
        <!-- <p class="lead">Make Your Mark</p> -->
        <!-- <a href="/marketer/register" class="btn btn-default">Request Early Access</a> -->
        <!-- <hr>
        <p></p> -->
    </div>
    <!-- <div class="col-md-6">
        <h3>Promote your company</h3>
        <p class="lead">We bring you orders</p>
        <p>Anyone can now make money</p>
        <a href="/company/register" class="btn btn-info">Register</a>
    </div> -->



    <div class="col-md-12">
        <!-- <h3>Make money marketing companies like Uber, Doordash, and Saucey</h3> -->
        <!-- <p class="lead">Make money marketing companies like Uber, Doordash, and Saucey</p> -->
        <br>
        <div class="center_block" style="">
            <img src="/uploads/uber_logo.png" class="img-fluid pull-left" height="180" style="vertical-align: middle; margin-left: 10px; margin-top:-40px;" valign="middle">
            <img src="/uploads/doordash_logo.png" class="img-fluid pull-left" height="120" style="vertical-align: middle; margin-left: 10px; margin-top:-10px; margin-right: 20px;" valign="middle">
            <img src="/uploads/saucey_logo.png" class="img-fluid pull-left" height="100" style="vertical-align: middle; margin-left: 10px;">
        
        </div>

    </div>

     <div class="col-md-12">
        <!-- <h3></h3> -->
        <p class="lead">Make money marketing companies like Uber, Doordash, and Saucey</p>
        <!-- <hr> -->
        <!-- <p class="lead">Markett is a marketing platform for the coolest startups</p> -->

        <a href="/company/register" class="btn btn-default">Get Started as a Company</a>
        <a href="/marketer/register" class="btn btn-primary">Get Started as a Marketer</a>
        
        
        
    </div>

</div>


