<% form_for :user, "/admin/user/save/#{params[:id]}", :id => 'admin-form', :multipart => true do |f| %>

<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Dashboards</h6>
    <h2 class="dashhead-title">Users</h2>
  </div>
  <div class="btn-toolbar dashhead-toolbar">

    <button class="btn btn-primary-outline">Save User</button>
    <!-- <div class="btn-toolbar-item input-with-icon">
      <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
      <span class="icon icon-calendar"></span>
    </div> -->
  </div>
</div>

<hr class="m-t">


<!-- Nav tabs -->
<ul class="nav nav-tabs" id="tab-menu" role="tablist">
  <li class="nav-item active">
    <a id="tab-account" class="nav-link" data-toggle="tab" href="#dashboard" role="tab">Invite</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#reports" role="tab">Reports</a>
  </li>
</ul>
<br>
<div class="tab-content">
  <div class="tab-pane active" id="dashboard" role="tabpanel">

    <div class="jumbodtron">
      <br>
      <h2>Earn more by inviting others</h2>
      <p class="lead">
        Invite up to 3 of your best teammates!
      </p>
      
      <p>        
        <a class="btn btn-success " href="#" role="button">jaequery@gmail.com</a>
        <a class="btn btn-success " href="#" role="button">jameslee@gmail.com</a>
        <a class="btn btn-default " href="#" role="button">Open Slot</a>
      </p>
      <!-- <p class="lead">
        1 more left
      </p> -->
    </div>

  </div>

  <div class="tab-pane" id="reports" role="tabpanel">

  </div>
  
  
</div>


<% end %>


<script>

$(function(){

  $('#tab-menu a').click(function (e) {
    e.preventDefault();
    $('#tab-menu a').removeClass('active');
    $(this).tab('show');
  })
});
