<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Dashboards</h6>
    <h2 class="dashhead-title">Earnings</h2>
  </div>
</div>
<hr class="m-t">
<h3>Your balance is $480.00</h3>
<p>There is a $100 minimum to withdraw</p>
<a href="/admin/withdraw" class="btn btn-success-outline">Request Withdraw</a>
<hr>
<div class="row">
  <div class="col-md-6 m-b-md">
    <div class="list-group">
      <h4 class="list-group-header">
      This Month Earnings
      </h4>
      
      <a class="list-group-item" href="#">
        <span class="list-group-progress" style="width: 80%;"></span>
        <span class="pull-right text-muted">$389.00</span>
        Uber
      </a>

      <a class="list-group-item" href="#">
        <span class="list-group-progress" style="width: 20%;"></span>
        <span class="pull-right text-muted">$78.00</span>
        Lyft
      </a>
      
    </div>
    <!-- <a href="#" class="btn btn-primary-outline p-x">All countries</a> -->
  </div>
  <div class="col-md-6 m-b-md">
    <div class="list-group">
      <h4 class="list-group-header">
      Payout History
      </h4>
      
      <a class="list-group-item" href="#">
        <span class="pull-right text-muted">$3,929.00</span>
        02/01/2016
      </a>
      
      <a class="list-group-item" href="#">
        <span class="pull-right text-muted">$1,397.00</span>
        01/05/2016
      </a>
    </div>
  </div>
</div>