<style>
section h3 { padding-bottom: 10px;}
</style>
<form action="/admin/settings/save" method="POST" id="settings_form">
    <div class="dashhead">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">Dashboards</h6>
            <h2 class="dashhead-title">Settings</h2>
        </div>
        <div class="btn-toolbar dashhead-toolbar">
            <button class="btn btn-primary-outline">Save Settings</button>
        </div>
    </div>

    <div class="row">

        <section class="content-header bd-example">

            <h3>Site</h3>
            <div class="col-md-12">

                <div class="field row">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" name="site_title" value="<%= @settings[:site_title] %>" class="form-control" placeholder="Markett" />
                    </div>
                </div>

                <div class="field row">
                    <div class="form-group">
                        <label>Host</label>
                        <input type="text" name="site_host" value="<%= @settings[:site_host] %>" class="form-control" placeholder="markett.io" />
                    </div>
                </div>

            </div>

        </section>

        <section class="content-header bd-example">

            <h3>Stripe Payout Integration</h3>
            <div class="col-md-12">

                <div class="field row">
                    <div class="form-group">
                        <label>Stripe Customer ID</label>
                        <input type="text" name="stripe_customer_id" value="<%= @settings[:stripe_customer_id] %>" class="form-control" placeholder="cus_13dni3" />
                    </div>
                </div>

                <div class="field row">
                    <div class="form-group">
                        <label>Stripe Bank Account Token</label>
                        <input type="text" name="stripe_bank_account_token" value="<%= @settings[:stripe_bank_account_token] %>" class="form-control" placeholder="bok_sdf" />
                    </div>
                </div>

            </div>

        </section>

    </div>
</form>