<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Dashboards</h6>
    <h2 class="dashhead-title">Withdrawals</h2>
  </div>
</div>
<hr class="m-t">
<h3>Your balance is <%= number_to_currency(@balance) %></h3>
<% if @balance >= 100 && !session[:user][:stripe_bank_account_token].nil? %>
<a href="/admin/withdraw" class="btn btn-success-outline">Request Withdraw</a>
<% else %>
<p>There is a $100 minimum to withdraw</p>
<% end %>

<% if session[:user][:stripe_bank_account_token].nil? %>
<button id='linkButton' class="btn btn-primary-outline">Connect Bank Account</button>
<% else %>
<button id='linkButton' class="btn btn-primary">Bank Connected</button>
<% end %>


<script src="https://cdn.plaid.com/link/stable/link-initialize.js"></script>
<script>
var linkHandler = Plaid.create({
  env: 'production',
  clientName: 'Markett',
  key: "<%= setting('plaid_pubkey') %>",
  product: 'auth',
  selectAccount: true,
  onSuccess: function(plaid_token, metadata) {
    // Send the public_token and account ID to your app server.
    console.log('public_token: ' + plaid_token);
    console.log('account ID: ' + metadata.account_id);
    $.post("/admin/plaid/token", {plaid_token: plaid_token, metadata: metadata}, function(res){
      console.log(res);
      //self.reload();
    });
  },
});
// Trigger the Link UI
document.getElementById('linkButton').onclick = function() {
  linkHandler.open();
};
</script>


<% if !@withdrawals.empty? %>
<br><br><br>
<div class="row">
  <div class="col-md-12 m-b-md">
    <div class="list-group">
      <h4 class="list-group-header">
      Withdrawl History
      </h4>
      
      <% @withdrawals.each do |withdrawal| %>
      <a class="list-group-item" href="#">
        <span class="pull-right text-muted"><%= number_to_currency(withdrawal[:amount]) %></span>
        <%= withdrawal[:created_at].strftime("%m/%d/%y") %>
      </a>
      <% end %>
    </div>
  </div>
</div>
<% end %>