<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Dashboards</h6>
    <h2 class="dashhead-title">Leaderboard</h2>
  </div>
</div>
<hr class="m-t">

<h3>Leaders</h3>



<table class="table table-full">
  <tbody>
    <thead>
      <tr>
        <th>Amount</th>
      </tr>
    </thead>
    
    <tr>
      <td>hi</td>  
    </tr>
    
  </tbody>
</table>
