<%
companies = Company.all
users = User.where(:role => 'marketer').all 
%>
<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Dashboards</h6>
    <h2 class="dashhead-title">Leaderboard</h2>
  </div>
</div>
<hr class="m-t">

<h3>All-Time Leaders</h3>

<table class="table table-bordered">
  <tbody>
    <thead clss="thead-inverse">
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Total</th>
        <% companies.each do |company| %>
        <th><%=company[:company]%></th>
        <% end %>
      </tr>
    </thead>

    <% users.each do |user| %>
    <tr>
      <td><%=user[:first_name] + " " + user[:last_name]%></td>
      <td>Los Angeles</td>
      <td>20</td>
      <td></td>
    </tr>
    <% end %>

  </tbody>
</table>
